<div class = "container-fluid">
    <div class = "page-header"><h3>Contact Us</h3></div>
    <div class = "search-padding">
        <ul class = "unstyled">
            <li>OC Now:<br><a href = "mailto:OCNow@Saddleback.edu"><i class='icon-envelope'></i> OCNow@Saddleback.edu</a></li>
            <li>OC News Team:<br><a href = "mailto:OCNewsTeam@Saddleback.edu"><i class='icon-envelope'></i> OCNewsTeam@Saddleback.edu</a></li>
            <li>Karyn Bower, Instructor CTVR 128, TV and Radio News:<br><a href = 'mailto:Kbower@saddleback.edu' ><i class='icon-envelope'></i> Kbower@saddleback.edu</a></li>
        </ul>
    </div>
</div>