<div class = "header" ng-controller = "HeaderCtrl">

        <!--<facebook-like url = "{{ pageUrl }}"></facebook-like>-->

        <div class="banner">
            <div class = "banner-text" ng-click = "redirectHome()">
            <!--<div class = "d-banner-my"><span class = "banner-my">My</span></div>-->
                <div class = "d-banner-oc"><span class = "banner-OC">OC</span></div>
                <div class = "d-banner-now"><span class = "banner-NOW">NOW</span></div>
            </div>
            <div class = "banner-text-info pull-right">
                <div class = "banner-follow-text">Your One Stop Saddleback News Resource</div>
            </div>
            <!--<a href="#">Facebook</a>-->
        </div>
        <div class="spacer" ui-scrollfix></div>
        <div class = "navbar centerer fix-header" ui-scrollfix>
            <div class = "navbar-inner">

                <ul class="nav">
                    <li ui-route = "/home" ng-class = "{'active':$uiRoute}"><a href = "/home">Home</a></li>
                    <li ui-route = "/episodes" ng-class = "{'active':$uiRoute}"><a href = "/episodes">Episodes</a></li>
                    <li ui-route = "/news" ng-class = "{'active':$uiRoute}"><a href = "/news">News</a></li>
                    <li ui-route = "/contact-us" ng-class = "{'active':$uiRoute}"><a href = "/contact-us">Contact Us</a></li>
                </ul>
                <ul class = "nav pull-right">
                    <li>
                        <form class="navbar-search pull-left" ng-submit = "search()">
                            <input type="text" class="search-query" ng-model = "query" placeholder="Search">
                            <div ng-click = "search()" class = "icon-search"></div>
                        </form>
                    </li>
                    <li ui-route = "/sign-in" ng-class = "{'active':$uiRoute}" ng-hide = "loggedIn" class = "header-right"><a href="/sign-in">Sign Up/Sign In</a></li>
                    <li ui-route = "/profile" ng-class = "{'active':$uiRoute}" ng-hide = "!loggedIn" class = "header-right"><a href = "#" ng-click = "viewProfile()">{{ user.username }}</a></li>
                </ul>
            </div>
        </div>


        <div ng-show = "msg_notify" class = "alert alert-success notify-alert centerer">{{ msg_notify }}</div>
        <div ng-show = "msg_error" class = "alert alert-error notify-alert centerer">{{ msg_error }}</div>

</div>
