<div class = "header" ng-controller = "HeaderCtrl">
    <div class = "row">
        <div class="navbar navbar-fixed-top navbar-inverse centerer">
            <div class = "navbar-inner">

                <ul class="nav">
                    <li><a href = "/home">Home</a></li>
                    <li><a href = "#">Saddleback News</a></li>
                    <li><a href = "#">Local OC News</a></li>
                    <li><a href = "/contact-us">Contact Us</a></li>
                </ul>
                <ul class = "nav pull-right">
                    <li>
                        <form class="navbar-search pull-left" ng-submit = "search()">
                            <input type="text" class="search-query" ng-model = "query" placeholder="Search">
                            <div ng-click = "search()" class = "icon-search"></div>
                        </form>
                    </li>
                    <li ng-hide = "loggedIn" class = "header-right"><a href="/sign-in">Sign Up/Sign In</a></li>
                    <li ng-hide = "!loggedIn" class = "header-right"><a href = "#" ng-click = "viewProfile()">{{ user.username }}</a></li>
                </ul>
            </div>
        </div>
    </div>


        <div ng-show = "msg_notify" class = "alert alert-success notify-alert centerer">{{ msg_notify }}</div>
        <div ng-show = "msg_error" class = "alert alert-error notify-alert centerer">{{ msg_error }}</div>

</div>
