<div class = "header">
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class = "navbar-inner">
                <ul class="nav">
                    <li><a href="view1">view1</a></li>
                    <li><a href="view2">view2</a></li>
                    <li><a href="sign-in">sign-in</a></li>

                    <li><a href = "home">Home</a></li>
                    <li><a href = "#">Saddleback News</a></li>
                    <li><a href = "#">Local OC News</a></li>
                    <li><a href = "contact-us">Contact Us</a></li>
                    <li><a href = "#">Search</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
