<div class = "container-fluid " ng-controller = "HomeCtrl">
        <ul class = "unstyled">
            <li class = "home-article" ng-repeat = "post in posts">
                <div ng-show = "post.img" class = "row-fluid">
                    <div class = "span2">
                        <img class = "img-polaroid home-img" ng-src = "/img/{{post.img}}"/>
                    </div>

                    <div class = "span10">
                        <h2><a href = '#' ng-click = "viewPost(post._id)">{{post.title}}</a></h2>
                        <p>Posted by <a href = '#' ng-click="viewAuthorProfile(post.uid)">{{ post.name}}</a> at {{ extractDate(post.date) }} (<a ng-click = "viewPost(post._id)" href = "#">{{post.commentCount }} comments</a>)</p>
                        <p ng-bind-html-unsafe="post.article"></p>
                    </div>
                </div>
                <div ng-show = "!post.img" class = "row-fluid">
                    <div class = "span12">
                        <h2><a href = '#' ng-click = "viewPost(post._id)">{{post.title}}</a></h2>
                        <p>Posted by <a href = '#' ng-click="viewAuthorProfile(post.uid)">{{ post.name}}</a> at {{ extractDate(post.date) }} (<a href = "#">{{post.commentCount }} comments</a>)</p>
                        <p ng-bind-html-unsafe="post.article"></p>
                    </div>
                </div>
            </li>
        </ul>
</div>