<div ng-controller = "NewPostCtrl">
    <form ng-submit="newPost()">
        <legend>Create a New Post</legend>
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" type = "text" class = "input-large form-control" placeholder = "Title" required ng-model = "title">
        </div>
        <span class = "help-block"></span>
        <div class="form-group">
            <label for="article">Article</label>
            <textarea id="article" ui-tinymce="editorOptions" placeholder = "Content" required ng-model = "article"></textarea>
        </div>
        <br />


        <input type = "file" multiple ng-model = "files" file-change>

        <br />

        <div class="well well-small" ng-show="isAdmin">
            <div>Options</div>
            <label class="checkbox">
                <input type="checkbox" ng-model="publishArticle">Publish article on submit
            </label>
        </div>

        <button type = "submit" class = "btn" ng-disabled="submitDisabled" name = "temp">Submit</button>
    </form>
	
	<button class="btn btn-default" ng-click = "findPosts()">FIND</button>
    <div class="btn-group">
        <button class="btn btn-primary" ng-click = "topPosts()">TOP 3</button>
        <button class="btn btn-info" ng-click = "nextPosts()">NEXT 3</button>
    </div>
    <button class="btn btn-danger" ng-click = "clearDatabase()">Clear Database</button>
</div>