<div ng-controller = "ProfileCtrl">
    <div class = "container-fluid">
        <div class = "row-fluid">
            <legend> Profile: {{username}} </legend>
        </div>

        <div class = "row-fluid">
            <div class = "span3">
                <div class = "well well-small">
                    <div class = "row-fluid">
                        <img src= "../img/testimg.jpg" alt = "Profile" />
                    </div>
                    <ul class = "nav nav-tabs nav-stacked">
                        <li><a href = "#">My Posts</a></li>
                        <li><a href = "#">Settings</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>