<div ng-controller = "ProfileCtrl">
    <div class = "container-fluid">
        <div class = "row-fluid">
            <legend> Profile: {{username}} </legend>
        </div>

        <div class = "row-fluid">
            <div class = "span3">
                <div class = "well well-small">
                    <div class = "row-fluid">
                        <img ng-src = "{{img}}" alt = "Profile" />
                    </div>
                    <ul class = "nav nav-tabs nav-stacked">
                        <li ng-click = "viewPosts()"><a href = "#">My Posts</a></li>
                        <li ng-click = "viewSettings()"><a href = "#">Settings</a></li>
                        <li ng-click = "viewAdmin()" ng-hide = "!admin"><a href = '#'>Admin</a></li>
                        <li ng-click = "logOut()"><a href = "#">Log Out</a></li>
                    </ul>
                </div>
            </div>

            <div class = "span9">
                <div class = "well well-small">

                    <div ng-show = "showPosts">
                        <legend>Posts</legend>
                        <button class="btn" ng-click = "createNewPost()">Create New Post</button>
                        <br />
                        <br />
                        <table class="table">
                            <tr ng-repeat="post in posts">
                                <td class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object article-thumbnail" ng-src = "{{post.img}}" alt = "not important"/>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href = '#' ng-click = "viewPost(post._id)">{{post.title}}</a></h4>
                                        <span class="article-byline">Posted at {{ extractDate(post.date) }} (<a href = "#">{{post.commentCount }} comments</a>)</span>
                                        <p class="article-summary" ng-bind-html-unsafe="post.article"></p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!--
                        <div>
                            <ul class = "unstyled">
                                <li ng-repeat = "post in posts">
                                    <div class = "row-fluid">
                                        <div class = "span2">
                                            <img ng-src = "{{post.img}}" alt = "not important"/>
                                        </div>

                                        <div class = "span10">
                                            <h2><a href = '#' ng-click = "viewPost(post._id)">{{post.title}}</a></h2>
                                            <p>Posted by <a href = '#'>{{ post.name}}</a> at {{ extractDate(post.date) }} (<a href = "#">{{post.commentCount }} comments</a>)</p>
                                            <p ng-bind-html-unsafe="post.article"></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        -->
                    </div>

                    <!--Admin settings-->
                    <div ng-show = "showAdmin">
                        <legend>
                            <div class = "tabbable">
                                <ul class = "nav nav-tabs">
                                    <li ng-click = "adminUsers()" ng-class = "{active: adminView == 0}"><a href = '#'>Users</a></li>
                                    <li ng-click = "adminPosts()" ng-class = "{active: adminView == 1}"><a href = '#'>Posts</a></li>
                                    <li ng-click = "adminComments()" ng-class = "{active: adminView ==2}"><a href = '#'>Comments</a></li>
                                </ul>
                            </div>
                            <span ng-show = "adminView == 0">Edit Users</span>
                            <span ng-show = "adminView == 1">Unpublished Posts</span>
                            <span ng-show = "adminView == 2">Flagged Comments</span>
                        </legend>
                        <div ng-show = "adminView == 0" class = "tabbable">
                            <ul class = "nav nav-tabs">
                                <li ng-click = "setCreate()" ng-class = "{active : AAC == 0}"><a href="#">Create</a></li>
                                <li ng-click = "setList()" ng-class = "{active : AAC == 1}"><a href="#">Users</a></li>
                                <li ng-click = "setViewAccount()" ng-class = "{active: AAC==2}"><a href = "#">Edit</a></li>
                            </ul>

                            <div ng-show = "AAC == 0" class = "row-fluid">
                                <form class = "form-horizontal" ng-submit = "createUser()">
                                    <div class = "control-group">
                                        <label class = "control-label" for = "inputUName">Username: </label>
                                        <div class = "controls">
                                            <input ng-model = "newUser.username" type = "text" id = "inputUName" required>
                                        </div>
                                    </div>
                                    <div class = "control-group">
                                        <label class = "control-label" for = "inputUPW">Password: </label>
                                        <div class = "controls">
                                            <input ng-model = "newUser.password" type = "text" id = "inputUPW" required>
                                        </div>
                                    </div>
                                    <div class = "control-group">
                                        <label class = "control-label" for = "inputUFName">First Name: </label>
                                        <div class = "controls">
                                            <input ng-model = "newUser.fName" type = "text" id = "inputUFName">
                                        </div>
                                    </div>
                                    <div class = "control-group">
                                        <label class = "control-label" for = "inputULName">Last Name: </label>
                                        <div class = "controls">
                                            <input ng-model = "newUser.lName" type = "text" id = "inputULName">
                                        </div>
                                    </div>
                                    <div ng-hide = "user.rank" class = "control-group">
                                        <label class = "control-label" for = "inputAdmin">Administrator: </label>
                                        <div class = "controls">
                                            <input ng-model = "newUser.admin" type = "checkbox" id = "inputAdmin">
                                        </div>
                                    </div>
                                    <div class = "control-group">
                                        <div class = "controls">
                                            <button type="submit" class="btn btn-default">Create User</button>
                                        </div>
                                    </div>

                                </form>
                            </div>

                            <div ng-show = "AAC == 1">
                                <div class="row-fluid">
                                    <span class="user-key" ng-show="user.rank<2" ng-class="{'span4':(user.rank<2)}"><i class="icon-star"></i> Site Admin</span>
                                    <span class="user-key" ng-class="{'span4':(user.rank<2), 'span6':(user.rank>=2), 'no-left-margin':(user.rank>=2)}"><i class="icon-pencil"></i> Poster</span>
                                    <span class="user-key" ng-class="{'span4':(user.rank<2), 'span6':(user.rank>=2)}"><i class="icon-user"></i> Commenter</span>
                                </div>
                                <form class="form-horizontal">
                                    <div class="control-group">
                                        <label class="control-label" for="searchQuery">Search:</label>
                                        <div class="controls">
                                            <input type="text" id="searchQuery" ng-model="query">
                                        </div>
                                    </div>
                                </form>
                                <table class="table">
                                    <tr ng-repeat="siteUser in allViewableUsers | filter: query">
                                        <td class="userList-rank"><i ng-show="siteUser.rank==2" class="icon-star"></i><i ng-show="siteUser.rank==3" class="icon-pencil"></i><i ng-show="siteUser.rank>3" class="icon-user"></i></td>
                                        <td class="userList-name"> {{siteUser.username}} <span ng-show="siteUser.fName || siteUser.lName">({{ ((siteUser.fName || ' ') + ' ' + (siteUser.lName || ' ')).trim() }})</span></td>
                                        <td class="userList-actions"><div class="pull-right"><button class="btn btn-mini" ng-click = "adminUserEdit(siteUser)"><i class="icon-edit"></i> Edit</button>
                                            <button class="btn btn-mini btn-danger" ng-click = "adminUserDelete(siteUser._id)"><i class="icon-trash icon-white"></i> Delete</button></div></td>
                                    </tr>
                                </table>
                                <!--
                                <ul class = "unstyled well-small profile-well-white">
                                    <li ng-repeat = "user in allViewableUsers | filter: query">
                                        <div ng-mouseover = "showButtons = 1" ng-mouseleave = "showButtons = 0">
                                            <i ng-show="user.rank==2" class="icon-star"></i><i ng-show="user.rank==3" class="icon-star-empty"></i><i ng-show="user.rank>3" class="icon-user"></i> {{user.username}} <span ng-show="user.fName || user.lName">({{ ((user.fName || ' ') + ' ' + (user.lName || ' ')).trim() }})</span>
                                            <button class="btn btn-mini" ng-click = "adminUserEdit(user)" ng-show = "showButtons"><i class="icon-edit"></i> Edit</button>
                                            <button class="btn btn-mini btn-danger" ng-click = "adminUserDelete(user._id)" ng-show = "showButtons"><i class="icon-trash icon-white"></i> Delete</button>
                                        </div>
                                    </li>
                                </ul>
                                -->
                            </div>

                            <div ng-show = "AAC == 2">
                                <form class = "form-horizontal" ng-submit = "adminSaveUserInfo()">
                                    <div class = "control-group">
                                        <label class = "control-label" for = "AACUN">Username: </label>
                                        <div class = "controls">
                                            <input disabled type = "text" id = "AACUN" ng-model = "AACUsername">
                                        </div>
                                    </div>
                                    <div class = "control-group">
                                        <label class = "control-label" for = "AACFN">First Name:</label>
                                        <div class = "controls">
                                            <input type = "text" id = "AACFN" ng-model = "AACFName">
                                        </div>
                                    </div>
                                    <div class = "control-group">
                                        <label class = "control-label" for = "AACLN">Last Name:</label>
                                        <div class = "controls">
                                            <input type = "text" id = "AACLN" ng-model = "AACLName">
                                        </div>
                                    </div>
                                    <div class = "control-group">
                                        <label class = "control-label" for = "AACPP">Profile Picture:</label>
                                        <div class = "controls">
                                            <input id = "AACPP" type = "file" ng-model = "AACFiles" file-change>
                                        </div>
                                    </div>

                                    <!-- currently no functionality-->
                                    <div class = "control-group">
                                        <label class = "control-label" for = "AACPW">Change Password: </label>
                                        <div class = "controls">
                                            <input type = "password" id = "AACPW" ng-model = "AACpassword">
                                        </div>
                                    </div>

                                    <div class = "control-group">
                                        <div class = "controls">
                                            <button type="submit">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--admin post settings-->
                        <div ng-show = "adminView == 1">
                            <ul class = "unstyled">
                                <li ng-repeat = "post in unpublishedPosts">
                                    <div class = "row-fluid">
                                        <div class = "span2">
                                            <img ng-src = "{{post.img}}" alt = "not important"/>
                                        </div>

                                        <div class = "span9">
                                            <h2><a href = '#' ng-click = "viewPost(post._id)">{{post.title}}</a></h2>
                                            <p>Posted by <a href = '#'>{{ post.name}}</a> at {{ extractDate(post.date) }} (<a href = "#">{{post.commentCount }} comments</a>)</p>
                                            <p ng-bind-html-unsafe="post.article"></p>
                                        </div>

                                        <div class = "span1">
                                            <button ng-click = "publish(post._id)">Publish</button>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--end admin post settings-->

                        <!--admin comment settings-->
                        <div ng-show = "adminView == 2">
                            <ul class = "unstyled">
                                <li class = "row-fluid comment-list" ng-repeat = "comment in flaggedComments">
                                    <div class = "span2 comment-center"> <img ng-show = "comment.img" class = "img-polaroid comment-img" ng-src = " {{ comment.img}}"> </div>
                                    <div class = "span10">
                                        <div class = "comment-username" class = "span12">
                                            <a href = #>{{ comment.username }}</a> in <a ng-click = "viewPost(comment.articleId)" href = '#'>this</a> article <span class = "pull-right comment-date"> {{ extractDate(comment.date)}}</span>
                                        </div>
                                        <div class = "comment-profile-content">{{ comment.content }}</div> <div class = "comment-profile-icons"><i ng-click = "unflagComment(comment._id)" title = "Unflag this comment" class = "profile-icon icon-ok"></i><i ng-click = "" title = "Delete this comment" class = "profile-icon icon-trash"></i></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--End Admin Settings-->

                    <!--User Settings-->
                    <div ng-show = "showSettings">
                        <legend>Settings</legend>
                        <div class = "tabbable">
                            <ul class="nav nav-tabs">
                                <li ng-click = "setPersonal()" ng-class = "{active : settings == 0}"><a href="#">Personal</a></li>
                                <li ng-click = "setAccount()" ng-class = "{active : settings == 1}"><a href="#">Account</a></li>
                            </ul>

                            <div>
                                <!--Personal Settings-->
                                <div ng-hide = "settings" class = "row-fluid">
                                    <form class = "form-horizontal" ng-submit = "saveUserInfo()">
                                        <div class = "control-group">
                                            <label class = "control-label" for = "inputFName">First Name:</label>
                                            <div class = "controls">
                                                <input type = "text" id = "inputFName" ng-model = "fName">
                                            </div>
                                        </div>
                                        <div class = "control-group">
                                            <label class = "control-label" for = "inputLName">Last Name:</label>
                                            <div class = "controls">
                                                <input type = "text" id = "inputLName" ng-model = "lName">
                                            </div>
                                        </div>
                                        <div class = "control-group">
                                            <div class = "controls">
                                                <button ng-show = "!showChangeProfilePic" ng-click = "showChangePP()">Change Profile Picture</button>
                                                <input ng-show = "showChangeProfilePic" type = "file" ng-model = "files" file-change>  <button  ng-show = "showChangeProfilePic" ng-click = "showChangePP()">Cancel</button>
                                            </div>
                                        </div>
                                        <div class = "control-group">
                                            <div class = "controls">
                                                <button type="submit">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div>
                                <!--Account Settings-->
                                <div ng-hide = "!settings" class = "row-fluid">
                                    <!--Change Password -->
                                    <button ng-show = "!showChangePassword" ng-click = "showChangePass()">Change Password</button>
                                    <div ng-show = "showChangePassword">
                                        <h5 class = "profile-h5">Change Password <button ng-click = "showChangePass()">Cancel</button></h5>
                                        <form class = "form-horizontal"  ng-submit = "changePassword()">
                                            <div class = "control-group">
                                                <label class = "control-label" for = "origPW">Current Password: </label>
                                                <div class = "controls">
                                                    <input type = "password" id = "origPW" ng-model = "oldPW">
                                                    <span class = "help-block"><a href = "#">Forgot your password?</a></span>
                                                </div>
                                            </div>
                                            <div class = "control-group">
                                                <label class = "control-label" for = "newPW">New Password: </label>
                                                <div class = "controls">
                                                    <input type = "password" id = "NewPW" ng-model = "newPW">
                                                </div>
                                            </div>
                                            <div class = "control-group">
                                                <label class = "control-label" for = "confirmPW">Confirm New Password: </label>
                                                <div class = "controls">
                                                    <input type = "password" id = "confirmPW" ng-model = "confirmNew">
                                                </div>
                                            </div>
                                            <div class = "control-group">
                                                <div class = "controls">
                                                    <button type="submit" class="btn btn-default">Change Password</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!--End Change Password -->
                                </div>
                                <!-- End User Settings -->

                            </div>
                         </div>
                    </div>
                    <!--End User Settings-->

                </div>
            </div>
        </div>

    </div>
</div>