<div ng-controller="SignInCtrl">
	<!--<div class="signin-wrapper">
		<h1 ng-show="signingIn">Sign In</h1>
		<h1 ng-show="!signingIn">Sign Up</h1>

		<span class="signin-linksp_an" ng-click="showSignIn()" ng-show="!signingIn">Sign In</span>
		<span class="signin-linksp_an" ng-click="showSignUp()" ng-show="signingIn">Sign Up</span>
		
		<br />
		
		<form name="login-form" ng-submit="signIn()" ng-show="signingIn" autocomplete="off">
			<input required type="text" ng-model="user.username" /><br>
			<input required type="password" ng-model="user.pw" /><br>
			<button type="submit">Sign in</button>
		</form>

		<form name="signup-form" ng-submit="signUp()" ng-show="!signingIn" autocomplete="off">
			<input required type="text" ng-model="user.username" /><br>
			<input required type="password" ng-model="user.pw" /><br>
			<button type="submit">Sign up</button>
		</form>
	</div>-->


    <div modal="forgotPasswordModal" close="closeDialog()" options="opts">
        <div class="modal-header">
            <h3>Forgot your password?</h3>
        </div>
        <div class="modal-body">
            After inputting your username below, an email will be sent to you with instructions on how to reset your password.
            </br>
            </br>
            <form class = "form-horizontal">
                <div class = "control-group">
                    <label class = "control-label" for = "inputfpUsername">Username: </label>
                    <div class = "controls">
                        <input type = "text" id = "inputfpUsername" ng-model = "fpUsername" required>
                    </div>
                    </br>
                    </br>
                    <small class = "help-block">Note: This will only work if you have an email registered to your username.</small>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <button class = "btn btn-primary" ng-click = "sendEmail(fpUsername); closeDialog();">Send</button>
            <button class="btn btn-warning cancel" ng-click="closeDialog()">Cancel</button>
        </div>
    </div>

    <div class = "container-fluid">
        <div class = "row-fluid">
            <div class = "span12">
                <div class = "span6">
                    <div class = "area">
                        <form class = "form-horizontal" ng-submit = "login(username, password)">
                            <div class = "heading">
                                <h4 class = "form-heading">Sign In</h4>
                            </div>

                            <div class = "control-group">
                                <label class = "control-label" for = "inputUsername">Username:</label>
                                <div class = "controls">
                                    <input type = "text" id = "inputUsername" ng-model = "username" required>
                                </div>
                            </div>
                            <div class = "control-group">
                                <label class = "control-label" for = "inputPassword">Password:</label>
                                <div class = "controls">
                                    <input type = "password" id = "inputPassword" ng-model = "password" required>
                                    <span class = "help-block"><a  ng-click = "forgotPassword()" href = "#">Forgot your password?</a></span>
                                </div>
                            </div>

                            <div class = "control-group">
                                <div class = "controls">
                                    <button type = "submit" class = "btn btn-warning">Sign In</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div class = "span6">
                    <div class = "area">
                        <form class = "form-horizontal" ng-submit = "createUser()">

                            <div class = "heading">
                                <h4 class = "form-heading">Sign Up</h4>
                            </div>
                            <div class = "control-group">
                                <label class = "control-label" for = "inputnUsername"><span class = "signin-required">*</span> Username:</label>
                                <div class = "controls">
                                    <input type = "text" id = "inputnUsername" ng-model = "newUser.username" required>
                                </div>
                            </div>
                            <div class = "control-group">
                                <label class = "control-label" for = "inputEmail">Email:</label>
                                <div class = "controls">
                                    <input type = "email" id = "inputEmail" ng-model = "newUser.email"d>
                                    <span class = "help-block">Password recovery is not possible without an Email address.</span>
                                </div>
                            </div>
                            <div class = "control-group">
                                <label class = "control-label" for = "inputnPassword"><span class = "signin-required">*</span> Password: </label>
                                <div class = "controls">
                                    <input type = "password" id = "inputnPassword" ng-model = "newUser.password" required>
                                </div>
                            </div>
                            <div class = "control-group">
                                <label class = "control-label" for = "inputcPassword"><span class = "signin-required">*</span> Confirm Password: </label>
                                <div class = "controls">
                                    <input type = "password" id = "inputcPassword" ng-model = "newUser.confirm" required>
                                </div>
                            </div>
                            <div class = "control-group">
                                <label class = "control-label" for = "inputFName">First Name: </label>
                                <div class = "controls">
                                    <input type = "text" id = "inputFName" ng-model = "newUser.fName">
                                </div>
                            </div>
                            <div class = "control-group">
                                <label class = "control-label" for = "inputLName">Last Name: </label>
                                <div class = "controls">
                                    <input type = "text" id = "inputLName" ng-model = "newUser.lName">
                                </div>
                            </div>

                            <div class = "control-group">
                                <label  class = "control-label" for = "emptySpacer"><span class = "signin-required">*</span> Prove you are human: </label>
                                <div class = "controls">
                                    <span id = "emptySpacer"></span>
                                </div>
                            </div>


                            <label class = "pull-right">I need this many chars h </label>
                            <div class = "pull-right">

                                <div class = "signin-captcha">
                                    <div id = "recaptcha"></div>
                                </div>
                                <span class = "help-block signin-required">* denotes a required field.</span>
                                </br>
                            </div>






                            <div class = "control-group">
                                <div class = "controls">
                                    <button type = "submit" class = "btn btn-warning">Sign Up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>


	
	<div class="alert alert-error" ng-show="errMsg" ng-bind="errMsg"></div>
</div>