<div ng-controller = "ViewVideoCtrl" class = "container-fluid">
    <div><a class="btn" href="/episodes">Watch More Episodes</a></div>
    <div class="page-header">
        <h3 ng-bind="video.snippet.title || 'Watch Episode'">Watch Episode</h3>
    </div>
    <div class = "episode-container view-post-image-divider">
        <iframe width="640" height="385" class="episode-player" ng-src="{{ videoEmbedSrc() }}" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="view-post-article">
        <p ng-bind-html-unsafe="video.snippet.description | linkify"></p>
    </div>
    <div class = "well well-small">
    <div class = "row-fluid">
        <p>(<span ng-pluralize count="commentCount" when="{'0': '0 Comments','1':'1 Comment','other':'{} Comments'}"></span>)</p>
    </div>

        <div ng-hide = "loggedIn">Please <a ng-href = '/sign-in'>log in</a> to post comments.</div>
        <div class = "row-fluid" ng-hide = "!loggedIn">
            <form ng-submit = "postComment()">
                <textarea class = "span12" ng-model = "content" required></textarea>
                <button type = "submit">Post comment</button>
            </form>
        </div>
        <div class = "row-fluid">
            <ul class = "unstyled">
                <li class = "row-fluid comment-list" ng-repeat = "comment in comments">
                    <div class = "span2 comment-center"> <img ng-show = "comment.img" class = "img-polaroid comment-img" ng-src = "{{ profilePic(comment.img) }}"> </div>
                    <div class = "span10">
                        <div class = "comment-username" class = "span12">
                            <a href = #>{{ comment.username }}</a> <span class = "pull-right comment-date"> {{ comment.date | date:"longDate" }}</span>
                        </div>
                        <div class = "comment-content">{{ comment.content | commentFilter }}</div> <div class = "comment-warn-icon"><i ng-show = "user.rank > 2" ng-click = "reportComment(comment._id)" title = "Report this comment" class = "icon-warning-sign"></i><i ng-show = "user.rank <= 2" ng-click = "deleteComment(comment._id)" title = "Delete this comment" class = "icon-trash"></i></div>
                    </div>

                </li>
            </ul>

        </div>

    </div>

</div>