<div ng-controller = "ViewPostCtrl" class = "container-fluid">
    <div ng-show="user.rank <= 3" class="ng-cloak">
        <div class="alert" ng-class="{'alert-info': post.published}">
            <div ng-show="!post.published"><strong>Unpublished!</strong> This article is not yet published; it is viewable only by the author and site admins.<span></span></div>
            <div ng-show="post.published"><strong>Published!</strong> This article is published; it is viewable by everyone</div>
        </div>
        <div class="well well-small">
            <button class="btn btn-small btn-primary" ng-show="!post.published && user.rank <= 1" ng-click="publish()"><i class="icon-eye-open icon-white"></i> Publish</button>
            <button class="btn btn-small btn-warning" ng-show="post.published && user.rank <= 1" ng-click="unpublish()"><i class="icon-eye-close icon-white"></i> Unpublish</button>
            <button class="btn btn-small" ng-click="edit()"><i class="icon-edit"></i> Edit</button>
            <button class="btn btn-small btn-danger" ng-click="delete()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    </div>
    <div class = "row-fluid">
        <div class = "span2">
            <img ng-src = "{{post.img}}" alt = "not important"/>
        </div>

        <div class = "span10">
            <h2><a href = '#' ng-click = "">{{post.title}}</a></h2>
            <p>Posted by <a href = '#'>{{ post.name}}</a> at {{extractDate(post.date)}} (<a href = "#">{{ post.commentCount }} comments</a>)</p>
            <p ng-bind-html-unsafe="post.article"></p>
        </div>
    </div>
    <div class = "well well-small">
        <div ng-hide = "loggedIn">Please <a ng-href = '/sign-in'>log in</a> to post comments.</div>
        <div class = "container-fluid" ng-hide = "!loggedIn">
            <form ng-submit = "postComment()">
                <textarea class = "row-fluid" ng-model = "content" required></textarea>
                <button type = "submit">Post comment</button>
            </form>
        </div>
        <ul class = "unstyled">
            <li class = "row-fluid" ng-repeat = "comment in comments">
               <div class = "span2"> <img ng-src = " {{ comment.img}}"> </div>
                <div class = "span10"><a href = #>{{ comment.username }}</a> said, "{{ comment.content }}" on {{ extractDate(comment.date)}} </div>
            </li>
        </ul>
    </div>

</div>