/* app css stylesheet */
.centerer{
  width: 860px;
  margin: auto;
}

html {
  overflow-y: scroll;
}

.article-byline {
  font-size: 90%;
}

.article-summary {
  font-size: 100%;
}

.no-top-table tr:first-child td {
  border-top: none;
}

.no-margin-legend {
  margin-bottom: 0px;
}