/* app css stylesheet */
.centerer{
  width: 860px;
  margin: auto;
  background-color: white;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
}

.centerer.bg {
  height: 100%;
}

@bggrad-outer: #888888;
@bggrad-inner: #FFFFFF;

#main-element {
  background-color: @bggrad-outer;
  background: -moz-linear-gradient(left, @bggrad-outer 0%, @bggrad-inner 50%, @bggrad-outer 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,@bggrad-outer), color-stop(50%,@bggrad-inner), color-stop(100%,@bggrad-outer)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, @bggrad-outer 0%,@bggrad-inner 50%,@bggrad-outer 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, @bggrad-outer 0%,@bggrad-inner 50%,@bggrad-outer 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, @bggrad-outer 0%,@bggrad-inner 50%,@bggrad-outer 100%); /* IE10+ */
  background: linear-gradient(to right, @bggrad-outer 0%,@bggrad-inner 50%,@bggrad-outer 100%); /* W3C */
  height: 100%;
}

html {
  overflow-y: scroll;
}

.article-byline {
  font-size: 90%;
}

.article-summary {
  font-size: 100%;
}

.no-top-table tr:first-child td {
  border-top: none;
}

.no-margin-legend {
  margin-bottom: 0px;
}

.hidden {
  visibility: hidden;
}

.page-header h3 {
  line-height: 0px;
}

.post-entry {
  text-align: center;
}