.fix-header{
  margin-left: -1px;
}

.header{
  padding-bottom: 10px;
}

.header-right{
  float: right;
}

.navbar-search .search-query{
  padding-left: 29px !important;
}

.navbar-search .icon-search {
  position: absolute;
  top: 7px;
  left: 11px;
  //background-image: url("../img/icon-search.jpg");

}

.icon-search:hover{
  cursor: pointer;
}

.notify-alert{
  position: fixed;
  //top: 50%;
  top: 90%;
  text-align: center;
}

.banner {
  height:120px;
  background-image: url("../img/Banner.png");
}

.banner-text{
  padding-top: 30px;
}

.d-banner-my{
  font-size: 30px;
  font-style: italic;
}

.banner-my{
  padding-left:20px;
}

.d-banner-oc{
  font-size: 75px;
  font-style: bold;
}

.banner-OC{
  padding-left:20px;
}

.d-banner-now{
  font-size: 70px;
  font-style: italic;
}

.banner-NOW{
  padding-left:50px;
}

.spacer {
  visibility: hidden;
}

.spacer.ui-scrollfix {
  height:42px;
  display: block;
  border: 1px solid black;
}

.navbar.ui-scrollfix {
  position: fixed;
  top: 0px;
}