.fix-header{
  padding-top: 40px;
}

.header-right{
  float: right;
}

.navbar-search .search-query{
  padding-left: 29px !important;
}

.icon-search {
  position: absolute;
  top: 7px;
  left: 11px;
  background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png");
}

.icon-search:hover{
  cursor: pointer;
}

.notify-alert{
  position: fixed;
  //top: 50%;
  top: 90%;
  text-align: center;
}