.home-article{
  border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 1px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.home-img{
  height: 100px;
  width: 100px;
}

.home-episode {
  vertical-align: middle;
}

.home-episode-image {
  height: 100%;
  width: 25%;
}

.home-episode-description {
  font-size: 10px;
  line-height: 16px;
}