.comment-username{
  border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 1px;
}
.comment-list {
  margin-bottom: 10px;
}

.comment-date{
  font-size: 10px;
}

.comment-img{
  height: 70px;
  width: 85px;
}

.comment-center{
  text-align: center;
}